body {
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  width: 60%;
  /* height: 100vh; */
  border: solid 1px grey;
  padding: 10px;
}

.control_box {
  width: 100%;
  position: relative;
}

.control_box--upper,
.control_box--down {
  padding: 0;
}
.photoFile,
.content {
  display: inline-block;
  width: 10%;
  margin: 0;
}

#chooseFile,
#submitFile {
  cursor: pointer;
}

.border {
  margin-top: 20px;
  border-bottom: 1px solid grey;
}

.messageBox {
  margin-top: 10px;
  width: 100%;
  /* height: 100%; */
  padding: 5px;
}
.messageBox__son {
  border-bottom: solid 1px gray;
  padding: 10px;
}

.imgHolder {
  width: 50%;
  height: 50%;
}

#delete {
  position: absolute;
  right: 1px;
}
